$purple-100: #f2eefe;
$purple-400: #7f58f9;
$purple-500: #6a35ff;
$purple-700: #5700e4;
$purple-800: #3900d8;

$green-100: #c2ebd2;
$green-500: #47c378;
$green-600: #36a662;

$yellow-100: #ffe7c0;
$yellow-500: #ffb946;
$yellow-600: #ffa818;

$red-100: #fbd1d9;
$red-500: #f04d6b;
$red-600: #ec2348;

$lightBlue-500: #159efb;

$darkBlue-500: #3c6dee;

$pink-500: #ff82cd;

$orange-500: #fe6f47;
