$font-family-heading: "Markpro", "Arial", sans-serif;
$font-family: "Eina", "Arial", sans-serif;

$font-size: 1em;
$font-size-heading: calc(#{$font-size} + 3vmin);
$font-size-subtext: 0.8em;

$line-height: 1.5;
