@font-face {
  font-family: "Markpro";
  src: url("https://uploads-ssl.webflow.com/5fbc0d068c247eca8397bc5c/5fbc0d065310199025730b89_markpro-bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Markpro";
  src: url("https://uploads-ssl.webflow.com/5fbc0d068c247eca8397bc5c/5fbc0d06531019276c730b8a_markpro-heavy%20(1).woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eina";
  src: url("https://uploads-ssl.webflow.com/5fbc0d068c247eca8397bc5c/5fbc0d06531019febe730b87_eina%20bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eina";
  src: url("https://uploads-ssl.webflow.com/5fbc0d068c247eca8397bc5c/5fbc0d065310191014730b88_eina%20regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Eina";
  src: url("https://uploads-ssl.webflow.com/5fbc0d068c247eca8397bc5c/623352f02bbc4642deb87d28_Eina01-SemiBold%20copy.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
