@use "/style/variables/color";
@use "/style/variables/general";
@use "/style/variables/spacing";
@use "/style/variables/text";

.note {
  $no-of-rows: 5;

  position: relative;
  border-radius: general.$border-radius;
  overflow: hidden;

  & + & {
    margin-top: spacing.$spacing-l;
  }

  & + &--new {
    margin-top: spacing.$spacing-xxl;
  }

  &__editable-content {
    border: 1px solid color.$border;
    background-color: color.$background;
    padding: general.$input-padding;
    border-radius: general.$border-radius;
    height: spacing.$spacing-xl * $no-of-rows;
    overflow: scroll;
    position: relative;

    &:empty {
      cursor: pointer;

      &:focus {
        cursor: auto;

        &:before {
          content: attr(placeholder);
          position: absolute;
          z-index: 1;
          color: color.$text-color-low;
        }

        &:after {
          content: none;
        }
      }

      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        background-color: color.$text-color-low;
        mask-image: url("../icons/addPlusCircle.svg");
        background-size: contain;
        width: 50px;
        height: 50px;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
    }

    &:focus {
      box-shadow: color.$border-shadow-focus;
      border-color: color.$border-focus;
      outline: none;
    }
  }

  &__id {
    font-size: text.$font-size-subtext;
    color: color.$text-color-medium;
  }
}
