$white: #ffffff;
$grey-50: #fcfcfd;
$grey-100: #f6f7fa;
$grey-200: #edeef5;
$grey-300: #dfe1ed;
$grey-400: #b6b9cc;
$grey-500: #9091a4;
$grey-600: #696a7a;
$grey-700: #4e5061;
$grey-800: #3d3e4b;
$grey-900: #2a2a36;
$black: #000000;
